.loadingBg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.loadingBg.greyBg {
  background: #f5f5f5;
  z-index: auto;
}
.pageBody {
  display: none;
}
.loadingText {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
  top: 32%;
  margin: auto;
}
.loadingText.top45 {
  top: 45%;
}
.loadingText h2 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 38px;
}
.loadingText h2.h2_spliter {
  font-weight: normal;
}
.loadingText h5 {
  display: inline-block;
}
.loadingText p {
  margin-top: 0;
  margin-bottom: 20px;
}
.loadingGifBg {
  height: 116px;
  width: 116px;
  margin: 10px auto;
}
.shaft-load {
  position: relative;
  width: 100px;
  height: 100px;
}
.shaft-load > div {
  background: transparent;
  border: 8px solid transparent;
  border-color: #47444e transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate"("-50%, -50%")";
  -moz-transform: translate"("-50%, -50%")";
  -ms-transform: translate"("-50%, -50%")";
  -o-transform: translate"("-50%, -50%")";
  transform: translate"("-50%, -50%")";
  -webkit-transform: translate(-50%, -50%) rotate(0);
  -moz-transform: translate(-50%, -50%) rotate(0);
  -ms-transform: translate(-50%, -50%) rotate(0);
  -o-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: loading11 2s infinite ease-in-out;
  -moz-animation: loading11 2s infinite ease-in-out;
  -o-animation: loading11 2s infinite ease-in-out;
  animation: loading11 2s infinite ease-in-out;
}
.shaft-load .shaft1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  width: 20px;
  height: 20px;
}
.shaft-load .shaft2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  width: 25px;
  height: 25px;
}
.shaft-load .shaft3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  width: 35px;
  height: 35px;
}
.shaft-load .shaft4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
  width: 45px;
  height: 45px;
}
.shaft-load .shaft5 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 55px;
  height: 55px;
}
.shaft-load .shaft6 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  width: 65px;
  height: 65px;
}
.shaft-load .shaft7 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  width: 75px;
  height: 75px;
}
.shaft-load .shaft8 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  width: 80px;
  height: 80px;
}
.shaft-load .shaft9 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
  width: 85px;
  height: 85px;
}
.shaft-load .shaft10 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  width: 90px;
  height: 90px;
}
@-webkit-keyframes loading11 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #858091 transparent;
  }
}
@-moz-keyframes loading11 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #858091 transparent;
  }
}
@-o-keyframes loading11 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #858091 transparent;
  }
}
@keyframes loading11 {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #858091 transparent;
  }
}
.loadingGif {
  height: 34px;
  width: 36px;
  margin: 10px auto;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
.ball-clip-rotate-multiple {
  position: relative;
}
.ball-clip-rotate-multiple > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #999999;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  -webkit-animation: rotate 1s 0s ease-in-out infinite;
  animation: rotate 1s 0s ease-in-out infinite;
}
.ball-clip-rotate-multiple > div:last-child {
  display: inline-block;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  border-color: #999999 transparent #999999 transparent;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
