html, body {
    min-height: 100%;
}
@media (min-width: 1025px) {
    html, body {
        overflow: hidden;
    }
}
@media (max-width: 680px) {
    .z-conf-item, .z-conf-btn, .z-to-left, .z-ico-download {
        display: none !important;
    }
    #configs .panel {
        margin-bottom: 0;
    }
}
@media (max-width: 1025px) {
    .conf-item {
        height: 134px;
    }
    .conf-tt.fl {
        float: none;
    }
    .z-fmt-alts {
        display: none;
    }
}
.ct {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.bg-red {
    background: rgb(250, 54, 54) !important;
}
.cl-red {
    color: rgb(250, 54, 54) !important;
}
.no-select {
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.o-h {
    overflow: hidden;
}
