# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/package-lock.json
/server/package-lock.json
/client/build/package/

# dependencies
/client/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/client/npm-debug.log
/server/npm-debug.log
npm-debug.log
/client/testem.log
/client/typings

# e2e
/client/e2e/*.js
/client/e2e/*.map

# System Files
.DS_Store
Thumbs.db

server/visit-count.txt
