<div id="zjs-diff-editor" class="zjs-editor-item">
  <div class="panel panel-default" [ngClass]="{'z-maximal': isDifMax}" [ngStyle]="maxFmtSize">
    <div class="panel-heading no-select">
      <div class="z-panel-icos">
        <button *ngIf="isShowSource"
                class="btn btn-default btn-xs zjs-compare-btn" (click)="isShowSource = false; initDiffEditor()">
          <i class="fa fa-check"></i>&nbsp;{{'compare' | translate}}
        </button>
        <button *ngIf="!isShowSource" class="btn btn-default btn-xs zjs-compare-btn" (click)="initEditEditors()">
          <i class="fa fa-pencil"></i>&nbsp;{{'edit' | translate}}
        </button>
        <!-- <span *ngIf="isShowSource" class="z-ico-hd" (click)="isShowSource = false; initDiffEditor()">
          <i class="fa fa-check z-op-icon" tooltip="{{!isDifMax ? ('textCompare' | translate) : ''}}"></i>
        </span>
        <span *ngIf="!isShowSource" class="z-ico-hd" (click)="initEditEditors()">
          <i class="fa fa-pencil z-op-icon" tooltip="{{!isDifMax ? ('editCompare' | translate) : ''}}"></i>
        </span> -->
        <zjs-compare [formated]="originalModel" [compareType]="'inner'"
                     (showDiffChange)="showDiffChange($event)"
                     tooltip="{{!isDifMax ? ('compareSrcFrom' | translate) : ''}}"></zjs-compare>
        <span class="z-ico-hd" (click)="exchangeModels()">
          <i class="fa fa-exchange z-op-icon" tooltip="{{!isDifMax ? ('exchange' | translate) : ''}}"></i>
        </span>
        <span class="z-ico-hd" (click)="showDiffChange('newC', true)">
          <i class="fa fa-trash z-op-icon" tooltip="{{!isDifMax ? ('clear' | translate) : ''}}"></i>
        </span>
        <zjs-hist [fmtHists]="compareHists" [isMenuRight]="true"
                  (showOrRmFmtHist)="showOrRmFmtHist($event)" tooltip="{{!isDifMax ? ('saved' | translate) : ''}}"></zjs-hist>
        <span class="z-ico-hd" (click)="saveCompare()">
          <i class="fa fa-save z-op-icon" tooltip="{{!isDifMax ? ('saveCompare' | translate) : ''}}"></i>
        </span>
        <ng-container *ngIf="!isElectronApp">
          <span *ngIf="!isDifMax" (click)="maximalPanel()">
            <i class="fa fa-window-maximize z-op-icon" tooltip="{{!isDifMax ? ('maximal' | translate) : ''}}"></i>
          </span>
          <span *ngIf="isDifMax" (click)="minimalPanel()">
            <i class="fa fa-window-restore z-op-icon" tooltip="{{!isDifMax ? ('minimal' | translate) : ''}}"></i>
          </span>
        </ng-container>
        <span class="z-ico-hd close-ico" (click)="closeDiffEditor()" tooltip="{{!isDifMax ? ('close' | translate) : ''}}">
          <i class="fa fa-times z-op-icon-bg"></i>
        </span>
      </div>
      <h3 class="panel-title">
        {{'textCompare' | translate}}
        <ng-container *ngIf="isLeftFmted">{{'leftSideIsFmt' | translate}}</ng-container>
      </h3>
    </div>
    <div class="panel-body">
      <div *ngIf="isShowSource" id="editor-container" class="zjs-editor-wp">
        <div id="original-container" class="compare-editor">
          <div class="editor-operations">
            <div class="fmted-op" title="{{'copy' | translate}}">
              <i class="fa fa-copy fr" (click)="copyEditor('original')"></i>
            </div>
            <div class="fmted-op" title="{{'clear' | translate}}">
              <i class="fa fa-trash fr mr4px" (click)="clearEditor('original')"></i>
            </div>
            <div class="fmted-op" title="{{'format' | translate}}">
              <i class="fa fa-retweet fr" (click)="doFormateCode('original')"></i>
            </div>
            <div class="fmted-op" title="{{'textCompare' | translate}}">
              <i class="fa fa-check fr" (click)="isShowSource = false; initDiffEditor()"></i>
            </div>
          </div>
          <div *ngIf="!originalCode" class="zjs-placeholder z-sm-hide no-select"
                [innerHTML]="'placeHolderOfCp' | translate"></div>
          <div [class.hide]="!isShowOriToTop" id="ori-to-top" class="zjs-to-Top">
            <i class="fa fa-arrow-circle-o-up shadow-ico" title="{{'backToTop' | translate}}"></i>
          </div>
          <monaco-editor [options]="editorOptions" [(ngModel)]="originalCode"
                        (afterInit)="afterEditorInit($event, 'original')"></monaco-editor>
        </div>

        <div id="editor-drager"></div>

        <div id="modified-container" class="compare-editor">
          <div class="editor-operations">
            <div class="fmted-op" title="{{'copy' | translate}}">
              <i class="fa fa-copy fr" (click)="copyEditor('modified')"></i>
            </div>
            <div class="fmted-op" title="{{'clear' | translate}}">
              <i class="fa fa-trash fr mr4px" (click)="clearEditor('modified')"></i>
            </div>
            <div class="fmted-op" title="{{'format' | translate}}">
              <i class="fa fa-retweet fr" (click)="doFormateCode('modified')"></i>
            </div>
            <div class="fmted-op" title="{{'textCompare' | translate}}">
              <i class="fa fa-check fr" (click)="isShowSource = false; initDiffEditor()"></i>
            </div>
          </div>
          <div *ngIf="!modifiedCode" class="zjs-placeholder z-sm-hide no-select"
              [innerHTML]="'placeHolderOfCp' | translate"></div>
          <div [class.hide]="!isShowModToTop" id="mod-to-top" class="zjs-to-Top">
            <i class="fa fa-arrow-circle-o-up shadow-ico" title="{{'backToTop' | translate}}"></i>
          </div>
          <monaco-editor [options]="editorOptions" [(ngModel)]="modifiedCode"
                        (afterInit)="afterEditorInit($event, 'modified')"></monaco-editor>
        </div>
      </div>
      <div *ngIf="!isShowSource" id="compare-container" class="zjs-editor-wp">
        <div class="editor-operations editor-diff-ops">
          <div class="fmted-op" title="{{'editCompare' | translate}}">
            <i class="fa fa-pencil fr" (click)="initEditEditors()"></i>
          </div>
        </div>
        <div [class.hide]="!isShowDifToTop" id="dif-to-top" class="zjs-to-Top">
          <i class="fa fa-arrow-circle-o-up shadow-ico" title="{{'backToTop' | translate}}"></i>
        </div>
        <monaco-diff-editor *ngIf="isShowDiffEditor" [originalModel]="originalModel"
                            [modifiedModel]="modifiedModel" (afterInit)="afterDiffEditorInit($event)"></monaco-diff-editor>
      </div>
    </div>
  </div>
</div>
