<div id="z-json" class="theme-{{theme}}">
  <!--=================================================================-->
  <!--========================== Z-JSON HEADER ========================-->
  <!--=================================================================-->
  <div *ngIf="isShowConfigs" class="model-shadow" (click)="toggleConfigs()"></div>
  
  <div id="alerts" class="alert alert-{{noticeType}} alert-dismissible" role="alert" [@toggleSlid]="noticeCtrl">
    <button type="button" class="close" (click)="alertNotice(false)">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{'warning' | translate}}</strong>&nbsp;&nbsp;{{noticeMsg}}
  </div>

  <header>
    <h2 class="ct z-json-hd">
      {{'zjson' | translate}}
      <h5 class="z-sub-hd">{{'dotNet' | translate}}</h5>
    </h2>
    <!-- ============= STATUS ALERTS ============= -->
    <div class="z-fmt-alts">
      <div class="alert alert-info alert-dismissible" (click)="toggleConfigs()">
        <span class="z-conf-btn fr" [class.rotate90]="isShowConfigs"
              [attr.title]="isShowConfigs ? i18n.confs.hide : i18n.confs.show">
          <i class="fa fa-bars z-op-icon"></i>
        </span>
        <table class="z-conf-table">
          <thead>
            <tr>
              <th><span>{{'lang' | translate}}</span></th>
              <th>{{'theme' | translate}}</th>
              <th>{{'indent' | translate}}</th>
              <th>{{'type' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{languages[lang].long}}</span></td>
              <td class="capitalize">{{theme}}</td>
              <td>{{conf.indent}} {{'space' | translate}}</td>
              <td>{{i18n.type[conf.type]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="z-conf-wp container-fluid">
        <div class="z-conf-item row">
            <!-- ============= MODEL CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'lang' | translate}}<br>{{'lang_' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="z-drop z-language-drop dropdown" dropdown>
                    <button dropdownToggle class="btn btn-default dropdown-toggle" type="button">
                      <span class="z-lang-bg">{{languages[lang].long}} </span><span class="z-lang-sm hide">{{languages[lang].short}} </span>
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li><a href="javascript:;" (click)="selectLanguage('en')">English</a></li>
                      <li><a href="javascript:;" (click)="selectLanguage('zh')">中文(简体)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- MODEL END -->
  
            <!-- ============= THEME CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'theme' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="z-drop z-theme-drop dropdown" dropdown>
                    <button dropdownToggle class="btn btn-default dropdown-toggle capitalize" type="button">
                      {{theme}}
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" (click)="doFormate(sourcest, true)">
                      <li *ngFor="let them of themes">
                        <a href="javascript:;" (click)="onChangeTheme(them)" class="capitalize">{{them}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- THEME END -->

            <!-- ============= INDENT CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'indent' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="z-drop z-indent-drop dropdown" dropdown>
                    <button dropdownToggle [disabled]="conf.model!='expand'"
                            class="btn btn-default dropdown-toggle" type="button">
                      {{conf.indent}} {{'space' | translate}}&nbsp;
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" (click)="doFormate(sourcest, true)">
                      <li *ngFor="let i of [1,2,3,4,5,6,7,8];">
                        <a href="javascript:;" (click)="conf.indent = i">{{i}} {{'space' | translate}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- INDENT END -->

            <!-- ============== TYPE CONFIG ============== -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'type' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="z-drop z-type-drop dropdown" dropdown>
                    <button dropdownToggle class="btn btn-default dropdown-toggle" type="button">
                      {{i18n.type[conf.type]}}&nbsp;
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" (click)="doFormate(sourcest, true)">
                      <li><a href="javascript:;" (click)="conf.type='json'">{{i18n.type.json}}</a></li>
                      <li><a href="javascript:;" (click)="conf.type='jsObj'">{{i18n.type.jsObj}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- TYPE END -->
          </div>
      </div>
    </div>
    <!-- ALERTS END -->
    <!-- ============= STATUS ALERTS ============= -->
    <div class="z-fmt-alts" [ngSwitch]="alertType">
      <div class="alert alert-success alert-dismissible" *ngSwitchCase="'success'">
        <strong class="fl alt-tt">{{'success' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-warning alert-dismissible" *ngSwitchCase="'warning'">
        <strong class="fl alt-tt">{{'warning' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngSwitchCase="'danger'">
        <strong class="fl alt-tt">{{'error' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-info alert-dismissible" *ngSwitchDefault>
        <strong class="fl alt-tt">{{'welecome'| translate}}</strong>
        <div class="z-greetings"><div id="z-greeting">{{greeting}}</div></div>
      </div>
    </div>
    <!-- ALERTS END -->
  </header> 

  <section id="worker">
    <!-- ============= SOURCE WINDOWS ============= -->
    <div id="z-source">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isSrcMax}" [ngStyle]="maxSrcSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isSrcMax && !isOnLeft" class="z-sm-hide" (click)="pushToLeft()">
              <i class="fa fa-hand-o-left z-op-icon" title="{{'pushToLeft' | translate}}"></i>
            </span>
            <span *ngIf="!isSrcMax && isOnLeft" class="z-sm-hide" (click)="pushToMiddle()">
              <i class="fa fa-columns z-op-icon" title="{{'pushToMiddle' | translate}}"></i>
            </span>
            <span class="z-sm-hide" (click)="openInfoModal(template)">
              <i class="fa fa-info-circle z-op-icon" title="{{'versionInfo' | translate}}"></i>
              <ng-template #template>
                <div class="modal-header" [domRef]="modalElRef">
                  <h4 class="modal-title pull-left">转杰森 | ZJSON</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="z-info-modal modal-body">
                  <table>
                    <tr>
                      <td>{{'version' | translate}}:</td>
                      <td>{{version}}</td>
                    </tr>
                    <tr>
                      <td>{{'author' | translate}}:</td>
                      <td>@CN-Tower</td>
                    </tr>
                    <tr>
                      <td>{{'email' | translate}}:</td>
                      <td>cntower@yahoo.com</td>
                    </tr>
                    <tr>
                      <td>{{'updateTime' | translate}}:</td>
                      <td>{{updateTime}}</td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </span>
            <span class="z-ico-hd" (click)="clearSourc()">
              <i class="fa fa-trash z-op-icon" title="{{'clear' | translate}}"></i>
            </span>
            <span class="z-ico-hd" (click)="upload()">
              <i class="fa fa-upload z-op-icon" title="{{'upload' | translate}}"></i>
            </span> 
            <span *ngIf="!isSrcMax" class="z-ico-hd dropdown" dropdown>
              <i dropdownToggle class="fa fa-th-list z-op-icon dropdown-toggle" title="{{'saved' | translate}}"></i>
              <ul *dropdownMenu id="hist-ops" class="dropdown-menu">
                <li *ngIf="fmtHists.length==0">
                  <a href="javascript:;">
                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;{{'noHist' | translate}}
                  </a>
                </li>
                <li *ngFor="let hist of fmtHists">
                  <a href="javascript:;" (click)="showOrRmFmtHist($event, hist)">
                    <i class="fa fa-trash z-op-icon"></i>&nbsp;&nbsp;{{hist.name}}
                  </a>
                </li>
              </ul>
            </span>
            <span *ngIf="!isSrcMax" (click)="maximalPanel('src')">
              <i class="fa fa-window-maximize z-op-icon" title="{{'maximal' | translate}}"></i>
            </span>
            <span *ngIf="isSrcMax" (click)="minimalPanel('src')">
              <i class="fa fa-window-restore z-op-icon" title="{{'minimal' | translate}}"></i>
            </span>
            <span *ngIf="!isSrcMax" (click)="doFormate(sourcest)">
              <i class="fa fa-retweet z-op-icon-bg" title="{{'format' | translate}}"></i>
            </span>
          </div>
          <h3 class="panel-title z-ptt-long">{{'source_' | translate}}</h3>
          <h3 class="panel-title z-ptt-short hide">{{'source' | translate}}</h3>
        </div>
        <div class="panel-body">
          <textarea class="form-control src-text" rows="20"
                    placeholder="{{'placeHolder' | translate}}"
                    (keydown)="onTextareaKeyDown($event)"
                    [(ngModel)]="sourcest" (ngModelChange)="doFormate(sourcest, true)"></textarea>
        </div>
      </div>
    </div>
    <!-- SOURCE END -->

    <div id="z-resize" ondragstart="return false">
      <span class="z-drager"></span>
      <span class="z-drager"></span>
    </div>

    <!-- ============= FMTED WINDOWS ============= -->
    <div id="z-jsonwd">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isFmtMax}" [ngStyle]="maxFmtSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isFmtMax" class="z-show-left" (click)="showInLeft()">
              <i class="fa fa-arrow-left z-op-icon" title="{{'showInLeft' | translate}}"></i>
            </span>
            <span *ngIf="conf.model=='expand'" class="z-ico-hd" (click)="conf.model='combine'; expandAll()">
              <i class="fa fa-compress z-op-icon" title="{{i18n.model.combine}}"></i>
            </span>
            <span *ngIf="conf.model=='combine'" class="z-ico-hd" (click)="conf.model='expand'; expandAll()">
              <i class="fa fa-expand z-op-icon" title="{{i18n.model.expand}}"></i>
            </span>
            <span class="z-ico-hd" (click)="clearFmted()">
              <i class="fa fa-trash z-op-icon" title="{{'clear' | translate}}"></i>
            </span>
            <span class="z-ico-hd" (click)="download()">
              <i class="fa fa-download z-op-icon" title="{{'download' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" class="z-ico-hd" (click)="saveFmted()">
              <i class="fa fa-save z-op-icon" title="{{'save' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" (click)="maximalPanel('fmt')">
              <i class="fa fa-window-maximize z-op-icon" title="{{'maximal' | translate}}"></i>
            </span>
            <span *ngIf="isFmtMax" (click)="minimalPanel('fmt')">
              <i class="fa fa-window-restore z-op-icon" title="{{'minimal' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" class="z-ico-hd" (click)="copyFmted()">
              <i class="fa fa-copy z-op-icon" title="{{'copy' | translate}}"></i>
            </span>
          </div>
          <h3 class="panel-title z-ptt-long">{{'fmted_' | translate}}</h3>
          <h3 class="panel-title z-ptt-short hide">{{'fmted' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div id="share-link">
            <div class="search">
              <input id="search-ipt" class="opacity0 fl" type="text" (paste)="getSharedJson()">
              <i class="fa fa-search" title="{{'search' | translate}}" (click)="getSharedJson()"></i>
            </div>
            <div *ngIf="formated">
              <div class="fmted-op link">
                <i class="fa fa-link fr" title="{{'shareLink' | translate}}" (click)="shareFormated()"></i>
              </div>
              <div class="fmted-op last-postion">
                <i class="fa fa-chevron-up fr" title="{{'lastStep' | translate}}" (click)="lastPosition()"></i>
              </div>
              <div class="fmted-op next-postion">
                <i class="fa fa-chevron-down fr" title="{{'nextStep' | translate}}" (click)="nextPosition()"></i>
              </div>
            </div>
          </div>
          <div id="z-container">
            <div id="z-stage" [class.fullWidth]="!isModelExpand">
              <div *ngIf="!formated" id="z-notice-text" class="no-select">
                <p>{{'zNotice' | translate}}</p>
                <i class="fa fa-star"></i>&nbsp;<strong>zjson.net:</strong>&nbsp;&nbsp;
                <a class="links" target="_blank" href="http://github.com/CN-Tower/zjson">
                  http://github.com/CN-Tower/zjson
                </a><br>
                <i class="fa fa-star"></i>&nbsp;<strong>funclib.js:</strong>&nbsp;&nbsp;
                <a class="links" target="_blank" href="http://github.com/CN-Tower/funclib.js">
                  http://github.com/CN-Tower/funclib.js
                </a><br>
                <i class="fa fa-star"></i>&nbsp;<strong>download:</strong>&nbsp;&nbsp;
                <a class="links" target="_blank" href="https://github.com/CN-Tower/zjson/releases/download/zjson-v3.2.1/zjson-win32-x64.exe">
                  zjson-win32-x64.exe (v3.2.1)
                </a><br>
              </div>
              <div id="z-index" [style.height]="setRowIdxWpHeight()"></div>
              <pre *ngIf="isModelExpand" class="z-canvas"
                    [attr.contenteditable]="isFmtedEditAb"></pre>
              <div *ngIf="!isModelExpand" class="z-canvas z-colp"
                    [attr.contenteditable]="isFmtedEditAb"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FMTED END -->
  </section>
  <input type="file" class="upload hide">
</div>

<div *ngIf="isShowLoading" class="z-loading">
  <div class="loadingBg"></div>
  <div class="loadingText top45">
    <div class="loadingGif">
      <div class="loader ball-clip-rotate-multiple">
        <div></div><div></div>
      </div>
    </div>
  </div>
</div>
