<div id="z-json">
  <!--=================================================================-->
  <!--========================== Z-JSON HEADER ========================-->
  <!--=================================================================-->
  <div *ngIf="isShowConfigs" class="model-shadow" (click)="toggleConfigs()"></div>
  
  <div id="alerts" class="alert alert-{{noticeType}} alert-dismissible" role="alert" [@toggleSlid]="noticeCtrl">
    <button type="button" class="close" (click)="alertNotice(false)">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{'warning' | translate}}</strong>&nbsp;&nbsp;{{noticeMsg}}
  </div>

  <header>
    <h2 class="ct z-json-hd">
      {{'zjson' | translate}}
      <h5 class="z-sub-hd">{{'dotNet' | translate}}</h5>
    </h2>
    <!-- ============= STATUS ALERTS ============= -->
    <div class="z-fmt-alts">
      <div class="alert alert-info alert-dismissible" (click)="toggleConfigs()">
        <span class="z-conf-btn fr" [class.rotate90]="isShowConfigs"
              [attr.title]="isShowConfigs ? i18n.confs.hide : i18n.confs.show">
          <i class="fa fa-bars z-op-icon"></i>
        </span>
        <table class="z-conf-table">
          <thead>
            <tr>
              <th>{{'VC' | translate}}</th>
              <th><span>{{'lang' | translate}}</span></th>
              <th>{{'type' | translate}}</th>
              <th>{{'indent' | translate}}</th>
              <th>{{'theme' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{visitCount}}</td>
              <td><span>{{languages[lang].long}}</span></td>
              <td>{{i18n.type[conf.type]}}</td>
              <td>{{conf.indent}} {{'space' | translate}}</td>
              <td>{{i18n.theme[theme]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="z-conf-wp container-fluid">
        <div class="z-conf-item row">
            <!-- ============= MODEL CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'lang' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="dropdown z-drop z-language-drop">
                    <button class="btn btn-default dropdown-toggle"
                            (click)="toggleOptions('language')" type="button">
                      <span class="z-lang-bg">{{languages[lang].long}} </span><span class="z-lang-sm hide">{{languages[lang].short}} </span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu z-language-opts">
                      <li><a href="javascript:;" (click)="selectLanguage('en')">English</a></li>
                      <li><a href="javascript:;" (click)="selectLanguage('zh')">中文(简体)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- MODEL END -->
  
            <!-- ============== TYPE CONFIG ============== -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'type' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="dropdown z-drop z-type-drop">
                    <button class="btn btn-default dropdown-toggle"
                            (click)="toggleOptions('type')" type="button">
                      {{i18n.type[conf.type]}}&nbsp;
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu z-type-opts" (click)="doFormate(sourcest, true)">
                      <li><a href="javascript:;" (click)="conf.type='json'">{{i18n.type.json}}</a></li>
                      <li><a href="javascript:;" (click)="conf.type='jsObj'">{{i18n.type.jsObj}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- TYPE END -->
  
            <!-- ============= INDENT CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'indent' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="dropdown z-drop z-indent-drop">
                    <button class="btn btn-default dropdown-toggle"
                            [disabled]="conf.model!='expand'"
                            (click)="toggleOptions('indent')" type="button">
                      {{conf.indent}} {{'space' | translate}}&nbsp;
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu z-indent-opts" (click)="doFormate(sourcest, true)">
                      <li *ngFor="let i of [1,2,3,4,5,6,7,8];">
                        <a href="javascript:;" (click)="conf.indent = i">{{i}} {{'space' | translate}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- INDENT END -->
  
            <!-- ============= THEME CONFIG ============= -->
            <div class="conf-item-wp col-lg-12">
              <div class="conf-item">
                <h4 class="conf-tt fl">{{'theme' | translate}}</h4>
                <div class="conf-con fl">
                  <div class="dropdown z-drop z-theme-drop">
                    <button class="btn btn-default dropdown-toggle"
                            (click)="toggleOptions('theme')" type="button">
                      {{i18n.theme[theme]}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu z-theme-opts" (click)="doFormate(sourcest, true)">
                      <li *ngFor="let them of themes">
                        <a href="javascript:;" (click)="theme=them">{{i18n.theme[them]}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- THEME END -->
          </div>
      </div>
    </div>
    <!-- ALERTS END -->
    <!-- ============= STATUS ALERTS ============= -->
    <div class="z-fmt-alts" [ngSwitch]="alertType">
      <div class="alert alert-success alert-dismissible" *ngSwitchCase="'success'">
        <strong class="fl alt-tt">{{'success' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-warning alert-dismissible" *ngSwitchCase="'warning'">
        <strong class="fl alt-tt">{{'warning' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngSwitchCase="'danger'">
        <strong class="fl alt-tt">{{'error' | translate}}</strong> {{alertMsg}}
      </div>
      <div class="alert alert-info alert-dismissible" *ngSwitchDefault>
        <strong class="fl alt-tt">{{'welecome'| translate}}</strong>
        <div class="z-greetings"><div id="z-greeting">{{greeting}}</div></div>
      </div>
    </div>
    <!-- ALERTS END -->
  </header> 

  <section id="worker">
    <!-- ============= SOURCE WINDOWS ============= -->
    <div id="z-source">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isSrcMax}" [ngStyle]="maxSrcSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isSrcMax" class="z-to-left" (click)="pushToLeft()">
              <i class="fa fa-hand-o-left z-op-icon" title="{{'pushToLeft' | translate}}"></i>
            </span>
            <span *ngIf="!isSrcMax" class="z-to-left" (click)="pushToMiddle()">
              <i class="fa fa-columns z-op-icon" title="{{'pushToMiddle' | translate}}"></i>
            </span>
            <span class="z-ico-hd" (click)="clearSourc()">
              <i class="fa fa-trash z-op-icon" title="{{'clear' | translate}}"></i>
            </span>
            <span class="z-ico-hd" (click)="download('src')">
              <i class="fa fa-download z-op-icon" title="{{'download' | translate}}"></i>
            </span> 
            <span *ngIf="!isSrcMax" class="z-ico-hd dropdown" (click)="toggleOptions('history')">
              <i class="fa fa-history z-op-icon dropdown-toggle" title="{{'saved' | translate}}"></i>
              <ul class="dropdown-menu z-history-opts">
                <li *ngIf="fmtHists.length==0">
                  <a href="javascript:;">
                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;{{'noHist' | translate}}
                  </a>
                </li>
                <li *ngFor="let hist of fmtHists">
                  <a href="javascript:;" (click)="showOrRmFmtHist($event, hist)">
                    <i class="fa fa-trash z-op-icon"></i>&nbsp;&nbsp;{{hist.name}}
                  </a>
                </li>
              </ul>
            </span>
            <span *ngIf="!isSrcMax" (click)="maximalPanel('src')">
              <i class="fa fa-window-maximize z-op-icon" title="{{'maximal' | translate}}"></i>
            </span>
            <span *ngIf="isSrcMax" (click)="minimalPanel('src')">
              <i class="fa fa-window-restore z-op-icon" title="{{'minimal' | translate}}"></i>
            </span>
            <span *ngIf="!isSrcMax" (click)="doFormate(sourcest)">
              <i class="fa fa-retweet z-op-icon-bg" title="{{'format' | translate}}"></i>
            </span>
          </div>
          <h3 class="panel-title z-ptt-long">{{'source_' | translate}}</h3>
          <h3 class="panel-title z-ptt-short hide">{{'source' | translate}}</h3>
        </div>
        <div class="panel-body">
          <textarea class="form-control src-text" rows="20" (paste)="pasteSourc()"
                    placeholder="{{'placeHolder' | translate}}" [(ngModel)]="sourcest"></textarea>
        </div>
      </div>
    </div>
    <!-- SOURCE END -->

    <div id="z-resize">
      <span class="z-drager"></span>
      <span class="z-drager"></span>
    </div>

    <!-- ============= FMTED WINDOWS ============= -->
    <div id="z-jsonwd">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isFmtMax}" [ngStyle]="maxFmtSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isFmtMax" class="z-show-left" (click)="showInLeft()">
              <i class="fa fa-arrow-left z-op-icon" title="{{'showInLeft' | translate}}"></i>
            </span>
            <span *ngIf="conf.model=='expand'" class="z-ico-hd" (click)="conf.model='combine'; expandAll()">
              <i class="fa fa-compress z-op-icon" title="{{i18n.model.combine}}"></i>
            </span>
            <span *ngIf="conf.model=='combine'" class="z-ico-hd" (click)="conf.model='expand'; expandAll()">
              <i class="fa fa-expand z-op-icon" title="{{i18n.model.expand}}"></i>
            </span>
            <span class="z-ico-hd" (click)="clearFmted()">
              <i class="fa fa-trash z-op-icon" title="{{'clear' | translate}}"></i>
            </span>
            <span class="z-ico-hd" (click)="download('fmt')">
              <i class="fa fa-download z-op-icon" title="{{'download' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" class="z-ico-hd" (click)="saveFmted()">
              <i class="fa fa-save z-op-icon" title="{{'save' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" (click)="maximalPanel('fmt')">
              <i class="fa fa-window-maximize z-op-icon" title="{{'maximal' | translate}}"></i>
            </span>
            <span *ngIf="isFmtMax" (click)="minimalPanel('fmt')">
              <i class="fa fa-window-restore z-op-icon" title="{{'minimal' | translate}}"></i>
            </span>
            <span *ngIf="!isFmtMax" class="z-ico-hd" (click)="copyFmted()">
              <i class="fa fa-copy z-op-icon" title="{{'copy' | translate}}"></i>
            </span>
          </div>
          <h3 class="panel-title z-ptt-long">{{'fmted_' | translate}}</h3>
          <h3 class="panel-title z-ptt-short hide">{{'fmted' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div id="z-container">
            <div id="z-stage" [class.fullWidth]="!isModelExpand">
              <div id="z-notice-text" class="no-select" *ngIf="!formated">
                <p>{{'zNotice' | translate}}</p>
                <i class="fa fa-check-square-o"></i>&nbsp;<strong>zjson.net:</strong>
                <a target="_blank" href="http://gitlab.zte.com.cn/CN-Tower/zjson">http://gitlab.zte.com.cn/CN-Tower/zjson</a><br>
                <i class="fa fa-check-square-o"></i>&nbsp;<strong>funclib.js:</strong>
                <a target="_blank" href="http://gitlab.zte.com.cn/CN-Tower/funclib.js">http://gitlab.zte.com.cn/CN-Tower/funclib.js</a><br>
              </div>
              <div id="z-index" [style.height]="setRowIdxWpHeight()"></div>
              <pre *ngIf="isModelExpand" class="z-canvas theme-{{theme}}"
                    [attr.contenteditable]="isFmtedEditAb"></pre>
              <div *ngIf="!isModelExpand" class="z-canvas theme-{{theme}} z-colp"
                    [attr.contenteditable]="isFmtedEditAb"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FMTED END -->
  </section>
</div>
