<div id="zjson" class="theme-{{theme}}" [class.fullscreen]="fullscreen">

  <zjs-hint></zjs-hint>
  
  <ng-container *ngIf="fullscreen">
    <zjs-notice class="z-notice-fullscreen" [class.z-formated]="alertType !== 'info'"
      [alertType]="alertType" [alertMsg]="i18n.alert[alertInfo.type]" [greeting]="greeting"></zjs-notice>
  </ng-container>

  <!-- ============= ZJSON HEADER ============= -->
  <header class="app-header">
    <app-config [conf]="conf" [lang]="lang" [theme]="theme">
      <div id="config-items" class="z-conf-wp container-fluid">
        <div class="z-conf-item row">
          <config-lang class="col-lg-12" [conf]="conf"
                        [lang]="lang" (selectLanguage)="selectLanguage($event)"></config-lang>
          <config-theme class="col-lg-12" [conf]="conf" [themes]="themes"
                        [theme]="theme" (changeTheme)="onChangeTheme($event)"></config-theme>
          <config-indent class="col-lg-12" [conf]="conf"
                        (updateTabsize)="updateEditorTabsize()"></config-indent>
          <config-quote class="col-lg-12" [conf]="conf" [isShowDiff]="isShowDiff"
                        (doFormate)="doFormate($event)"></config-quote>
        </div>
      </div>
    </app-config>
    <zjs-title></zjs-title>
    <ng-container *ngIf="!fullscreen">
      <zjs-notice [alertType]="alertType" [alertMsg]="i18n.alert[alertInfo.type]" [greeting]="greeting"></zjs-notice>
    </ng-container>
  </header> 
  <!-- HEADER END -->

  <section id="zjs-editors">
    <!-- ============= SOURCE EEDITOR ============= -->
    <div id="zjs-source" class="zjs-editor-item">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isSrcMax}" [ngStyle]="maxSrcSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isSrcMax && !isOnLeft" class="z-sm-hide" (click)="pushToLeft()">
              <i class="fa fa-step-backward z-op-icon" tooltip="{{!isSrcMax ? ('pushToLeft' | translate) : ''}}"></i>
            </span>
            <span *ngIf="!isSrcMax && isOnLeft" class="z-sm-hide" (click)="pushToMiddle()">
              <i class="fa fa-pause z-op-icon" tooltip="{{!isSrcMax ? ('pushToMiddle' | translate) : ''}}"></i>
            </span>
            <span class="z-sm-hide" (click)="unescapeSource()">
              <i class="fa fa-magic z-op-icon" tooltip="{{!isSrcMax ? ('unescapeSrc' | translate) : ''}}"></i>
            </span>
            <span *ngIf="!conf.isEscape" class="z-ico-hd" (click)="setIsEscape(true)">
              <i class="fa fa-circle-o z-op-icon" tooltip="{{!isSrcMax ? ('isEscape' | translate) : ''}}"></i>
            </span>
            <span *ngIf="conf.isEscape" class="z-ico-hd" (click)="setIsEscape(false)">
              <i class="fa fa-dot-circle-o z-op-icon" tooltip="{{!isSrcMax ? ('isEscape' | translate) : ''}}"></i>
            </span>
            <span class="z-ico-hd" (click)="clearSourc()">
              <i class="fa fa-trash z-op-icon" tooltip="{{!isSrcMax ? ('clear' | translate) : ''}}"></i>
            </span>
            <zjs-hist *ngIf="!isSrcMax" [fmtHists]="fmtHists"
                      (showOrRmFmtHist)="showOrRmFmtHist($event)" tooltip="{{!isSrcMax ? ('saved' | translate) : ''}}"></zjs-hist>
            <span class="z-ico-hd" (click)="upload()">
              <i class="fa fa-upload z-op-icon" tooltip="{{!isSrcMax ? ('upload' | translate) : ''}}"></i>
              <input type="file" class="upload hide">
            </span> 
            <span id="format-btn" *ngIf="!isSrcMax" (click)="doFormate()">
              <i class="fa fa-retweet z-op-icon-bg" tooltip="{{!isSrcMax ? ('fmtToJson' | translate) : ''}}"></i>
            </span>
            <span *ngIf="!fullscreen" (click)="toggleFullscreen(true)">
              <i class="fa fa-window-maximize z-op-icon" tooltip="{{'maximal' | translate}}"></i>
            </span>
            <span *ngIf="fullscreen" (click)="toggleFullscreen(false)">
              <i class="fa fa-window-restore z-op-icon" tooltip="{{'minimal' | translate}}"></i>
            </span>
          </div>
          <h3 class="panel-title z-ptt-long">{{'source_' | translate}}</h3>
          <h3 class="panel-title z-ptt-short hide">{{'source' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div id="source-container" class="zjs-editor-wp">
            <div *ngIf="!sourcest" class="zjs-placeholder z-sm-hide no-select" [innerHTML]="'placeHolder' | translate"></div>
            <div [class.hide]="!isShowSrcToTop" id="src-to-top" class="zjs-to-Top">
              <i class="fa fa-arrow-circle-o-up shadow-ico" title="{{'backToTop' | translate}}"></i>
            </div>
            <monaco-editor [options]="srcEditorOptions"
                          [(ngModel)]="sourcest" (ngModelChange)="doFormate(true)"
                          (afterInit)="afterEditorInit($event, 'source')"></monaco-editor>
          </div>
        </div>
      </div>
    </div>
    <!-- SOURCE END -->

    <div id="zjs-drager" class="zjs-editor-item" ondragstart="return false"></div>

    <!-- ============= FMTED EDITOR ============= -->
    <div id="zjs-format" class="zjs-editor-item">
      <div class="panel panel-default" [ngClass]="{'z-maximal': isFmtMax}" [ngStyle]="maxFmtSize">
        <div class="panel-heading no-select">
          <div class="z-panel-icos">
            <span *ngIf="!isFmtMax" class="z-ico-hd z-show-left" (click)="showInLeft()">
              <i class="fa fa-hand-o-left z-op-icon" tooltip="{{!isFmtMax ? ('showInLeft' | translate) : ''}}"></i>
            </span>
            <span *ngIf="conf.model=='expand'" class="z-ico-hd" (click)="conf.model='combine'; expandAll()">
              <i class="fa fa-compress z-op-icon" tooltip="{{!isFmtMax ? (i18n.model.combine) : ''}}"></i>
            </span>
            <span *ngIf="conf.model=='combine'" class="z-ico-hd" (click)="conf.model='expand'; expandAll()">
              <i class="fa fa-expand z-op-icon" tooltip="{{!isFmtMax ? (i18n.model.expand) : ''}}"></i>
            </span>
            <span *ngIf="!conf.isStrict" class="z-ico-hd" (click)="setIsStrict(true)">
              <i class="fa fa-toggle-off z-op-icon" tooltip="{{!isFmtMax ? ('isStrict' | translate) : ''}}"></i>
            </span>
            <span *ngIf="conf.isStrict" class="z-ico-hd" (click)="setIsStrict(false)">
              <i class="fa fa-toggle-on z-op-icon" tooltip="{{!isFmtMax ? ('isStrict' | translate) : ''}}"></i>
            </span>
            <span class="z-ico-hd" (click)="clearFmted()">
              <i class="fa fa-trash z-op-icon" tooltip="{{!isFmtMax ? ('clear' | translate) : ''}}"></i>
            </span>
            <span *ngIf="!isFmtMax" class="z-ico-hd" (click)="saveFmted()">
              <i class="fa fa-save z-op-icon" tooltip="{{!isFmtMax ? ('save' | translate) : ''}}"></i>
            </span>
            <span class="z-ico-hd" (click)="download()">
              <i class="fa fa-download z-op-icon" tooltip="{{!isFmtMax ? ('download' | translate) : ''}}"></i>
            </span>
            <span *ngIf="!isFmtMax" (click)="copyFmted()">
              <i class="fa fa-copy z-op-icon" tooltip="{{!isFmtMax ? ('copy' | translate) : ''}}"></i>
            </span>
            <ng-container *ngIf="isElectronApp">
              <span *ngIf="!fullscreen" (click)="toggleFullscreen(true)">
                <i class="fa fa-window-maximize z-op-icon" tooltip="{{'maximal' | translate}}"></i>
              </span>
              <span *ngIf="fullscreen" (click)="toggleFullscreen(false)">
                <i class="fa fa-window-restore z-op-icon" tooltip="{{'minimal' | translate}}" placement="left"></i>
              </span>
            </ng-container>
            <ng-container *ngIf="!isElectronApp">
              <span *ngIf="isFmtMax" (click)="minimalPanel('fmt')">
                <i class="fa fa-window-restore z-op-icon"></i>
              </span>
              <span *ngIf="!isFmtMax" (click)="maximalPanel('fmt')" tooltip="{{'maximal' | translate}}">
                <i class="fa fa-window-maximize z-op-icon"></i>
              </span>
            </ng-container>
          </div>
          <h3 class="panel-title z-ptt-long">
            {{'fmted_' | translate}}
            <zjs-compare class="zjs-compare" [compareType]="'outer'" [formated]="formated"
                         [fmtHists]="fmtHists" (showDiffChange)="showDiffChange($event)"></zjs-compare>
          </h3>
          <h3 class="panel-title z-ptt-short hide">{{'fmted' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div id="format-container" class="zjs-editor-wp">
            <div class="editor-operations share-links">
              <div class="search">
                <input id="search-ipt" class="opacity0 fl" type="text" (paste)="getSharedJson()">
                <i class="fa fa-search" title="{{'search' | translate}}" (click)="getSharedJson()"></i>
              </div>
              <div *ngIf="formated">
                <div class="fmted-op">
                  <i class="fa fa-link fr" title="{{'shareLink' | translate}}" (click)="shareFormated()"></i>
                </div>
                <div class="fmted-op">
                  <i class="fa fa-chevron-up fr" title="{{'lastStep' | translate}}" (click)="lastPosition()"></i>
                </div>
                <div class="fmted-op next-postion">
                  <i class="fa fa-chevron-down fr" title="{{'nextStep' | translate}}" (click)="nextPosition($event)"></i>
                </div>
              </div>
            </div>
            <div *ngIf="!formated" id="z-notice-text" class="zjs-mata-links z-sm-hide no-select">
              <p>{{'zNotice' | translate}}</p>
              <i class="fa fa-star"></i>&nbsp;&nbsp;<strong>{{'project' | translate}}:</strong>&nbsp;&nbsp;
              <a class="links" target="_blank" href="https://github.com/CN-Tower/zjson" (click)="onLinkClick($event)">
                https://github.com/CN-Tower/zjson
              </a><br>
              <i class="fa fa-star"></i>&nbsp;&nbsp;<strong>{{'algorithm' | translate}}:</strong>&nbsp;&nbsp;
              <a class="links" target="_blank" href="https://github.com/CN-Tower/format-to-json" (click)="onLinkClick($event)">
                https://github.com/CN-Tower/format-to-json
              </a><br>
              <!--==================== electron ignore sta ====================-->
              <i class="fa fa-cloud-download"></i>&nbsp;<strong>{{'download_' | translate}}:</strong>&nbsp;&nbsp;
              <a class="links" target="_blank" href="{{downloadUrl}}/zjson-win32-x64-v{{remoteVersion}}.exe">
                > zjson-win32-x64-v{{remoteVersion}}.exe (Windows)
              </a><br>
              &nbsp;&nbsp;<a class="links" style="margin-left: 90px" target="_blank" href="{{downloadUrl}}/zjson-darwin-x64-v{{remoteVersion}}.dmg">
                > zjson-darwin-x64-v{{remoteVersion}}.dmg (MacOS)
              </a><br>
              <!--==================== electron ignore end ====================-->
              <!--==================== electron enable sta ====================---
              <i class="fa fa-star"></i>&nbsp;&nbsp;<strong>{{'website' | translate}}:</strong>&nbsp;&nbsp;
              <a class="links" target="_blank" href="http://www.zjson.net" (click)="onLinkClick($event)">
                http://www.zjson.net
              </a><br>
              ======================== electron enable end ====================-->
            </div>
            <div [class.hide]="!isShowFmtToTop" id="fmt-to-top" class="zjs-to-Top">
              <i class="fa fa-arrow-circle-o-up shadow-ico" title="{{'backToTop' | translate}}"></i>
            </div>
            <monaco-editor [options]="fmtEditorOptions" [(ngModel)]="formated" 
                           (afterInit)="afterEditorInit($event, 'format')"></monaco-editor>
          </div>
        </div>
      </div>
    </div>
    <!-- FMTED END -->

    <zjs-diff-editor *ngIf="isShowDiff" [formated]="formated"
                    [fmtConf]="conf" [fullscreen]="fullscreen"
                    [diffType]="diffType" [sourcest]="sourcest"
                    [isElectronApp]="isElectronApp" (closePanel)="isShowDiff = false"></zjs-diff-editor>
  </section>

  <div class="z-bottom-fix"></div>
</div>

<zjs-loading></zjs-loading>
<zjs-update [updateUrl]="updateUrl" [remoteVersion]="remoteVersion"></zjs-update>
