.loadingBg {
    background: #f5f5f5;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.pageBody {
    display: none;
}
.loadingText {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    text-align: center;
    top: 35%;
    margin: auto;
}
.loadingText h2 {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 38px;
}
.loadingText h5 {
    display: inline-block;
}
.loadingText p {
    margin-top: 0;
    margin-bottom: 20px;
}
.loadingText .loadingGif {
    height: 34px;
    width: 36px;
    margin: 10px auto;
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}
.ball-clip-rotate-multiple {
    position: relative;
}
.ball-clip-rotate-multiple > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #2392e8;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
}
.ball-clip-rotate-multiple > div:last-child {
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-color: #2392e8 transparent #2392e8 transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
