.theme-default {
    .z-code-container {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    .z-obj-brace {
        color: #00AA00;
        font-weight: bold;
    }
    .z-arr-brace {
        color: #AA00AA;
        font-weight: bold;
    }
    .z-comma-sign {
        color: #000000;
        font-weight: bold;
    }
    .z-backslash {
        color: #CC0000;
        font-weight: bold;
    }
    .z-prop-val {
        color: #CC0000;
        font-weight: bold;
    }
    .z-stri-val {
        color: #007777;
    }
    .z-func-val {
        color: #007777;
    }
    .z-numb-val {
        color: #0033FF;
    }
    .z-bool-val {
        color: #CC0000;
        font-weight: bold;
    }
    .z-null-val {
        color: #CC0000;
        font-weight: bold;
    }
}

.theme-nocolor {
    color: #555;
}
