<div id="app-config" class="z-fmt-alts">
  <div class="alert alert-info alert-dismissible" (click)="toggleConfigs()">
    <span class="z-conf-btn fr" [class.rotate90]="isShowConfigs"
          [attr.title]="isShowConfigs ? ('hideConfs' | translate) : ('showConfs' | translate)">
      <i class="fa fa-bars z-op-icon"></i>
    </span>
    <table class="z-conf-table">
      <thead>
        <tr>
          <th><span>{{'lang' | translate}}</span></th>
          <th>{{'theme' | translate}}</th>
          <th>{{'indent' | translate}}</th>
          <th>{{'quote' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>{{languages[lang]?.long}}</span></td>
          <td class="capitalize">{{theme}}</td>
          <td>{{conf.indent}} {{'space' | translate}}</td>
          <td>{{conf.keyQuote}}key{{conf.keyQuote}}: {{conf.valQuote}}val{{conf.valQuote}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-content selecter="#config-items"></ng-content>
</div>

<div *ngIf="isShowConfigs" class="model-shadow" (click)="toggleConfigs()"></div>
